<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <?define versionNumber=VERSION_NUMBER ?>
  <?define infoURL='http://proofficecalculator.com' ?>

  <Product Name='Pro Office Calculator' Manufacturer='Rob Jinman'
    Id='19dab212-44a0-40fb-a00a-da8ff6b64a75'
    UpgradeCode='760f3e92-111b-4658-bd92-9fc6380c1102'
    Language='1033' Codepage='1252' Version='$(var.versionNumber)'>

  <Package Id='*' Keywords='Installer' Description="Pro Office Calculator Installer"
    Comments='Pro Office Calculator is created and maintained by Rob Jinman who owns exclusive copyrights.' Manufacturer='Rob Jinman'
    InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='procalc'>

          <Directory Id='dataFolder' Name='data' />

          <Component Id='mainExecutable' Guid='1db57494-b669-4386-80ad-605dc33afce9'>
            <File Id='procalcEXE' Name='procalc.exe' DiskId='1' Source='procalc.exe' KeyPath='yes'>
              <Shortcut Id="startmenuProcalc" Directory="programMenuDir" Name="Pro Office Calculator"
                WorkingDirectory='INSTALLDIR' Icon="procalc.ico" IconIndex="0" Advertise="yes" />
              <Shortcut Id="desktopProcalc" Directory="DesktopFolder" Name="Pro Office Calculator"
                WorkingDirectory='INSTALLDIR' Icon="procalc.ico" IconIndex="0" Advertise='yes' />
            </File>
          </Component>

          <Component Id="versionFile" Guid="D8415673-619C-4CBE-9A86-9F795D6E0B25">
              <File Id="version" KeyPath="yes" Source="VERSION" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="programMenuDir" Name="procalc">
          <Component Id="programMenuDir" Guid="3b1cddef-2e7a-43b3-89de-b55f450cb001">
            <RemoveFolder Id='programMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id="dataComponentGroup"/>
      <ComponentGroupRef Id="libsComponentGroup"/>
      <ComponentRef Id='mainExecutable' />
      <ComponentRef Id='versionFile' />
      <ComponentRef Id='programMenuDir' />
    </Feature>

    <Icon Id="procalc.ico" SourceFile="procalc.ico" />

  </Product>
</Wix>
