Source: procalc
Maintainer: Rob Jinman <jinmanr@gmail.com>
Section: math
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), cmake (>= 3.5.1), qtbase5-dev (>= 5.5.1), qtmultimedia5-dev (>= 5.5.1), libqt5multimedia5-plugins (>= 5.5.1), libtinyxml2-dev (>= 2.2.0)

Package: procalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a (>= 5.5.1), libqt5gui5 (>= 5.5.1), libqt5widgets5 (>= 5.5.1), libqt5multimedia5 (>= 5.5.1), libqt5multimedia5-plugins (>= 5.5.1), libtinyxml2-2v5 (>= 2.2.0)
Description: Normal office calculator
 Just a normal office calculator... or is it?
