#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	cd dependencies
		&& dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=./dist
		&& cd ..
	dh_auto_configure --

override_dh_auto_build:
	cd dependencies
		&& make
		&& make install
		&& cd ..
	make

override_dh_auto_install:
	make install

override_dh_auto_clean:
	cd dependencies
		&& rm -rf build dist
		&& cd ..
	rm -rf build dist
