#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	# Build dependencies during configure step
	cd dependencies \
		&& mkdir -p build/linux \
		&& cd build/linux \
		&& cmake -DCMAKE_INSTALL_PREFIX=./dist -G "Unix Makefiles" ../.. \
		&& make \
		&& cd ../../..
	mkdir -p build/linux \
		&& cd build/linux \
		&& cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../../debian/procalc/usr -G "Unix Makefiles" ../..

override_dh_auto_build:
	cd build/linux \
		&& make

override_dh_auto_install:
	cd build/linux \
		&& make install

override_dh_auto_clean:
	rm -rf dependencies/build dependencies/dist
	rm -rf build dist
