Source: procalc
Maintainer: Rob Jinman <jinmanr@gmail.com>
Section: math
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), cmake (>= 3.5.1), pkg-config (>= 0.29.1), libtinyxml2-dev (>= 2.2.0), qtbase5-dev (>= 5.5.1), qtmultimedia5-dev (>= 5.5.1), libqt5multimedia5-plugins (>= 5.5.1)

Package: procalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml2-2v5 (>= 2.2.0), libqt5core5a (>= 5.5.1), libqt5gui5 (>= 5.5.1), libqt5widgets5 (>= 5.5.1), libqt5multimedia5 (>= 5.5.1), libqt5multimedia5-plugins (>= 5.5.1)
Description: Normal office calculator
 A completely normal office calculator.
